.letterUsed {
    width: 100%;
    margin-top: 3.25rem;
    border-top: 1px solid #C3C3C3;
    flex-wrap: wrap;
}

.letterUsed > h5 {
    color: #32325F;
    font-size: 2rem;
    font-weight: 600;
    margin: 0.75rem 0;
}

.letterUsed > .letter{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
}