.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3.25rem 0;
}

.container > img {
    height: 3.69rem;

}

.container > header span strong {
    color: #E8891C;
    font-size: 20px;
    font-weight: 700;
}

.container > header span {
    font-size: 18px;
    color: #9B9B9B;
    font-weight: 400;
}

.container > header button {
    background: transparent;
    border: none;
}

.container > header img:hover {
    scale: 1.3;
}

.container > header img {
    height: 2rem;
    transition: scale 0.5s;
}


