.container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container main {
    max-width: 566px;
    background-color: #ffffff;
    padding: 4.5rem 2rem;
    border-radius: 1rem;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.35rem 0;
    gap: 1rem;

}

.container main h5 {
    font-size: 1rem;
    font-weight: 600;
    color: #32325F;
}

.input {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
